@import url(font-awesome.css);

.fa {
  font-size: 15px;
}

.fa-pencil {
  font-size: 14px;
  color: #efb80b;
}

.fa-plus {
  vertical-align: -1px;
  color: #70bf2b;
}

.fa-times {
  color: #dd4646;
}

.fa-calendar {
  color: #447e9b;
}

.fa-clock-o {
  vertical-align: -1px;
  font-size: 16px;
  color: #447e9b;
}

.datetime .fa-calendar {
  vertical-align: -1px;
}

.datetime .fa-clock-o {
  vertical-align: -2px;
}

a:hover .fa-pencil {
  color: #ce9f0a;
}

a:hover .fa-plus {
  color: #58a019;
}

a:hover .fa-times {
  color: #bb2c2c;
}

a:hover .fa-clock-o,
a:hover .fa-calendar {
  color: #036;
}

.addlink, .deletelink, .changelink, .inlinechangelink,
.inline-group div.add-row a, .inline-group ul.tools a.add,
.inline-group .tabular tr.add-row td a {
  position: relative;
}

.addlink:before, .deletelink:before, .changelink:before,
.inlinechangelink:before, .inline-group div.add-row a:before,
.inline-group ul.tools a.add:before,
.inline-group .tabular tr.add-row td a:before, .object-tools a:before,
.selector-clearall:before, .selector-chooseall:before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.addlink:before {
  content: '\f067';
  color: #70bf2b;
}

.changelink:before,
.inlinechangelink:before {
  content: '\f040';
  color: #efb80b;
}

.deletelink:before {
  content: '\f00d';
  color: #dd4646;
}

a.addlink:hover:before {
  color: #58a019;
}

a.changelink:hover:before,
a.inlinechangelink:hover:before {
  color: #ce9f0a;
}

a.deletelink:hover:before {
  color: #bb2c2c;
}

.object-tools .addlink:before, .object-tools .golink:before,
.object-tools .viewsitelink:before {
  left: auto;
  right: 9px;
  font-size: 13px;
  color: #fff;
}

.object-tools .addlink:before {
  top: 7px;
}

.object-tools .golink:before,
.object-tools .viewsitelink:before {
  content: '\f054';
  top: 8px;
}

.object-tools .addlink:hover:before {
  color: #fff;
}

.submit-row a.deletelink:before {
  content: '';
}

.inline-group div.add-row a:before,
.inline-group ul.tools a.add:before,
.inline-group .tabular tr.add-row td a:before {
  content: '\f067';
  font-size: 13px;
  color: #70bf2b;
}

.inline-group div.add-row a:hover:before,
.inline-group ul.tools a.add:hover:before,
.inline-group .tabular tr.add-row td a:hover:before {
  color: #58a019;
}


a.selector-chooseall:before {
  content: '\f138';
  left: auto;
  right: 2px;
  top: 4px;
}

a.selector-clearall:before {
  content: '\f137';
  left: 2px;
  top: 4px;
}

a.selector-clearall:before, a.selector-chooseall:before {
  color: #999;
}

a.active.selector-clearall:before, a.active.selector-chooseall:before {
  color: #447e9b;
}

.selector-add:before,
.selector-remove:before,
.inline-deletelink:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.selector-add:before {
  content: '\f0a9';
}

.selector-remove:before {
  content: '\f0a8';
}

.stacked .selector-add:before {
  content: '\f0ab';
}

.stacked .selector-remove:before {
  content: '\f0aa';
}

.selector-add:before, .selector-remove:before {
  color: #999;
}

.selector-add.active:before, .selector-remove.active:before {
  color: #447e9b;
}

.inline-deletelink:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\f057';
  color: #aaa;
  text-indent: 0;
}

.inline-deletelink:hover:before {
  color: #999;
}


table thead th.sorted .sortoptions a {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table thead th.sorted .sortoptions a:hover {
  color: #447e9b;
}

table thead th.sorted .sortoptions a.sortremove:before {
  content: '\f0dc';
}

table thead th.sorted .sortoptions a.sortremove:after {
  content: '\\';
  position: absolute;
  top: -2px;
  left: 0px;
  font-size: 16px;
}

table thead th.sorted .sortoptions a.ascending:before {
  content: '\f0d8';
}

table thead th.sorted .sortoptions a.descending:before {
  vertical-align: -1px;
  content: '\f0d7';
}


ul.messagelist li:before,
div.system-message p.system-message-title:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.messagelist li:before {
  content: '\f058';
  top: 13px;
  left: 40px;
  color: #70bf2b;
}

ul.messagelist li.warning:before {
  content: '\f071';
  color: #efb80b;
}

ul.messagelist li.error:before {
  content: '\f056';
  color: #dd4646;
}

div.system-message p.system-message-title:before {
  content: '\f056';
  top: 4px;
  left: 8px;
}


img[src*="icon-no"], img[src*="icon-yes"], img[src*="icon-unknown"] {
  width: 12px;
  height: 12px;
  vertical-align: -1px;
}



/* Django 1.7 */
.add-another:before,
.related-lookup:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add-another:before {
  content: '\f067';
  vertical-align: -1px;
  color: #70bf2b;
}

.related-lookup:before {
  content: '\f002';
  vertical-align: -1px;
  color: #666;
}

a.add-another:hover:before {
  color: #58a019;
}

a.related-lookup:hover:before {
  color: #444;
}



/* Django 1.9 */
.fa-check-circle, .fa-minus-circle, .fa-question-circle {
  font-size: 13px;
}

.fa-check-circle {
 color: #70bf2b;
}

.fa-minus-circle {
  color: #dd4646;
}

.fa-question-circle {
  color: #777;
}
